<main>
  <!--  The Header-->
  <header class="bg">
    <app-header></app-header>
  </header>
  <section class="container">
    <div>
      <!-- Breadcrumbs -->
      <app-breadcrumbs></app-breadcrumbs>
      <!--Section Courses -->
      <app-section-courses></app-section-courses>
      <!--Users -->
      <app-user></app-user>
      <!--The courses-->
      <div>
        <app-courses></app-courses>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer class="bg text-white">
    <app-footer></app-footer>
  </footer>
</main>
